body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

.view-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.header {
  margin: auto;
  text-align: center;
}

.header-title {
  font-size: 5em;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.header-subtitle {
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}

.header-subpages {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.non-main-view-header {
  text-align: center;
}

.non-main-view-subpages {
  position: absolute;
  text-align: left;
  left: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
