/*
 Color Palette: https://coolors.co/21324f-477998-93b7be-f1f2eb-d8dad3
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #21324f;
  color: #f1f2eb;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: #f1f2eb;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #f1f2eb;
}

a:visited {
  color: #f1f2eb;
}

.view-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.home-guiding-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: 100% 100%;
}

.header {
  margin: auto;
  text-align: center;
  padding: 5em;
  background-color: #4e6266;
}

.header-title {
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.header-subtitle {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header-subpages {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.non-main-view-header {
  text-align: center;
}

.non-main-view-subpages {
  position: absolute;
  text-align: left;
  left: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-container {
  text-align: center;
  width: 80%;
}

.about-me-bio {
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
}

.interest-section-container {
  padding-top: 5em;
  display: flex;
}

.interest-section {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  margin: 7em;
  position: relative;
}

.interest-section-title {
  font-weight: 700;
  font-size: 2em;
}

.about-me-guiding-line {
  position: absolute;
  top: -8em;
  transform: scale(2.4, 1.8);
  right: 6em;
}

.interest-section-desc {
  text-align: left;
  font-size: 1.5em;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5em;
  width: 60vw;
}

.skill-category {
  padding: 2em 2em 1em 2em;
  border: 0.1em solid #f1f2eb;
  height: 2.5em;
  background-color: #21324f;
  position: relative;
}

.skill-category:hover {
  background-color: #477998;
}

.skill-category-title {
  font-size: 2em;
  font-weight: 600;
  float: left;
}

.skill-category-down-arrow {
  height: 0.5em;
  opacity: 1;
  transition: 0.25s;
}

.skill-category:hover .skill-category-down-arrow {
  opacity: 0;
}

.skills {
  background-color: #19263d;
  width: 100%;
  border: 0.1em solid #f1f2eb;
  z-index: 10;
  position: absolute;
  top: 7em;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0.5em 0;
}

.skill-category:hover > .skills {
  opacity: 1;
  transition: 0.5s;
}

.skill {
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
}

.skill > img {
  height: 1em;
}

.skill > i, .skill > img {
  padding-right: 0.5em;
}

.projects-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
}

.projects-container-row {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.projects-container-row-top {
  border-top: 0.5em solid #477998;
  border-left: 0.5em solid #477998;
  border-right: 0.5em solid #477998;
}

.projects-container-row-bottom {
  border-bottom: 0.5em solid #477998;
  border-left: 0.5em solid #477998;
  border-right: 0.5em solid #477998;
}

.project {
  width: 27em;
  height: 22em;
  position: relative;
  overflow: hidden;
}

.project > div, .project > img {
  width: 100%;
  height: 100%;
}

.project-overlay {
  width: 100%;
  position: absolute;
  top: calc(100% - 2.5em);
  background-color: rgba(241, 242, 235, 0.95);
  margin: 0 auto;
  transition: 0.3s;
}

.project:hover > .project-overlay {
  top: 0%;
  transition: 0.3s;
}

.project-title {
  margin: 0.25em;
  color: #21324f;
  font-size: 1.5em;
  font-weight: 700;
}

.project-desc {
  padding: 1.5em;
  line-height: 1.5em;
  text-align: left;
  color: #21324f;
  font-size: 1em;
}

.project-buttons {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  display: flex;
}

a.project-button {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f1f2eb;
  color: #21324f;
  border: 0.1em solid #21324f;
  text-decoration: none;
}

a.project-button:hover {
  text-decoration: none;
  background-color: #21324f;
  color: #f1f2eb;
  border-color: #f1f2eb;
}

a.project-button:active {
  background-color: #d8dad3;
}
