body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

.view-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.header {
  margin: auto;
  text-align: center;
}

.header-title {
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.header-subtitle {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header-subpages {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.non-main-view-header {
  text-align: center;
}

.non-main-view-subpages {
  position: absolute;
  text-align: left;
  left: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-container {
  text-align: center;
  width: 80%;
}

.interest-section-container {
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
}

.interest-section {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
}

.interest-section-top {
  padding-top: 2em;
}

.interest-section-bottom {
  padding-top: 12em;
}

.interest-section-title {
  font-weight: 700;
  font-size: 2em;
}

.interest-section-desc {
  text-align: left;
  /* TODO */
}

.projects-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
}

.projects-container-row {
  display: flex;
  flex-direction: row;
}

.project {
  width: 27em;
  height: 22em;
  position: relative;
  overflow: hidden;
}

.project > div, .project > img {
  width: 100%;
  height: 100%;
}

.project-overlay {
  width: 100%;
  position: absolute;
  top: calc(100% - 2.5em);
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  transition: 0.3s;
}

.project:hover > .project-overlay {
  top: 0%;
  transition: 0.3s;
}

.project-title {
  margin: 0.25em;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.project-desc {
  color: white;
  font-size: 1em;
}

.project-buttons {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  display: flex;
}

a.project-button {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  border: 0.1em solid #fff;
  border-radius: 0.2em;
  text-decoration: none;
}

a.project-button:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-color: #000;
}

a.project-button:active {
  background-color: #ccc;
}


.project-skills {
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  margin: 0 auto;
  display: flex;
}

.skill {
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
}

.js {
  background-image: url("resources/skills/js.png");
}

.ts {
  background-image: url("resources/skills/ts.png");
}

.react {
  background-image: url("resources/skills/react.png");
}

.nodejs {
  background-image: url("resources/skills/nodejs.png");
}
