.mobile-nav-side-pane {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #19263d;
  border-left: 0.1em solid #f1f2eb;
  border-bottom: 0.1em solid #f1f2eb;
}

.mobile-nav-side-pane-contents {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
}

.mobile-nav-side-pane-contents > .link {
  padding: 1em 0 1em 1em;
  font-size: 1.5em;
  border-top: 0.1em solid #477998;
}

.mobile-nav-side-pane-contents > .link:first-child {
  border-top-style: none;
}

.hamburger-button {
  margin: 0.5em;
}

.hamburger-button-closed {
  width: 3em;
}

.hamburger-button-open {
  width: 12em;
}

.hamburger-button > img {
  float: right;
  width: 3em;
  height: 3em;
  transition: opacity 0.5s, width 0s, height 0s;
}

.hamburger-button-open > .closed, .hamburger-button-closed > .open {
  opacity: 0;
  width: 0;
  height: 0;
}

.hamburger-button-closed > .closed, .hamburger-button-open > .open {
  opacity: 1;
}

.mobile-home-view-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.mobile-header {
  font-size: 0.6em;
  text-align: center;
  padding: 1em 5em 5em 5em;
  margin: 2em 0;
  background-color: #4e6266;
}

.mobile-header-title {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0.25em 0;
}

.mobile-home-artistic-line {
  background-color: #19263d;
  height: 0.5em;
  margin: 1.5em auto;
}

.mobile-non-main-view-header {
  text-align: center;
  font-size: 0.8em;
  margin-top: 5em;
}

.mobile-about-me-container {
  text-align: center;
  width: 140%;
}

.mobile-about-me-bio {
  width: 80%;
}

.mobile-interest-section-container {
  font-size: 0.8em;
  padding-top: 1.5em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mobile-interest-section {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  margin: 2em;
  position: relative;
}

.mobile-skills-container {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 3em;
  width: 60vw;
}

.mobile-skill-category {
  margin: 1em 0 1em 0;
  padding: 1.5em 2em 1.5em 2em;
  border: 0.1em solid #f1f2eb;
  height: 2.5em;
  background-color: #21324f;
}

.mobile-skill-category-title {
  font-size: 2em;
  font-weight: 600;
  float: left;
}

.mobile-skill-down-icon {
  position: absolute;
  right: 1em;
  top: 0.85em;
  transition: 0.5s;
}

.mobile-skill-category-title > .closed {
  transform: rotate(0deg);
}

.mobile-skill-category-title > .open {
  transform: rotate(-180deg);
}

.mobile-skills {
  z-index: 5;
  background-color: #19263d;
  width: 100%;
  border: 0.1em solid #f1f2eb;
  z-index: 10;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0.5em 0;
  overflow: hidden;
}

.open + .mobile-skills {
  height: auto;
}

.closed + .mobile-skills {
  height: 0;
  padding: 0;
  border-style: none;
}

.mobile-project {
  width: 24em;
  position: relative;
  overflow: hidden;
  margin: 4em 0 4em 0;
}

.mobile-project > div, .mobile-project > img {
  width: 100%;
}

.mobile-project-desc {
  width: 100%;
  background-color: #f1f2eb;
  margin: 0 auto;
  transition: 0.3s;
}

.mobile-project-buttons {
  display: flex;
}

a.mobile-project-button {
  font-size: 1.25em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f1f2eb;
  color: #21324f;
  border: 0.1em solid #21324f;
  text-decoration: none;
}

a.mobile-project-button:active {
  background-color: #d8dad3;
}
