<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe src="https://www.youtube.com/embed/D5bAk9fb6IA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents">
    <h3> Raymarching Playground </h3>
    <ul>
      <li>React</li>
      <li>WebGL</li>
    </ul>
    <p>The Raymarching Playground makes </p>
    <a class="project-link" href="#"><i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;GitHub</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> EasyPitch.js </h3>
    <ul>
      <li>Web Audio API</li>
    </ul>
    <p>EasyPitch.js is a JavaScript library for playing sounds. Users can create instruments with custom timbre and play a series of notes.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
