#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-projects-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  background-color: red;

  .user-project {
    margin: 0px;
    padding: 0px;
    width: 425px;
    height: 239px;

    .image {
      position: absolute;
      width: 100%;
      border-radius: 5px;
      z-index: 0;
    }

    .title {
      position: absolute;
      bottom: 0px;
      background-color: rgba(127, 127, 127, 0.5);
      z-index: 1;
    }
  }
}
